html.testimonial .navBarWrapper, html.testimonial footer, html.testimonial #glowCookies-banner {
    display: none;
}

#testimonial-presentation-container {
    max-width: 540px;
    margin: auto;
}

#testimonial-container {
    background-color: var(--primary);
    width: 100%;
    padding-bottom: 100%;
    position: relative;

    -webkit-user-select: none;
    /* Safari */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* IE10+/Edge */
    user-select: none;
    /* Standard */
    --primary: var(--color60);
    --secondary: var(--color30);
    --tertiary: var(--color10);

    --baseSize: 8.8414px;
}

body.ds-5 #testimonial-container {
    --primary: var(--color10);
    --secondary: var(--color30);
    --tertiary: var(--color60);
}

@media screen and (max-width: 574px) {
    #testimonial-container {
        --baseSize: calc((100vw - 2rem) * 0.016375);
    }
}

#testimonial-bg-container {
    opacity: 0.1;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}
#testimonial-bg-container svg {
    width: calc(61.076923076923077 * var(--baseSize));
    height: calc(61.076923076923077 * var(--baseSize));
}

#testimonial-bg-container path {
    fill: var(--tertiary);
}

#testimonial-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
}

#testimonial-img-container {
    width: calc(50% - 0.5 * var(--baseSize));
}

#testimonial-img-inner {
    position: relative;
    width: 100%;
    height: 100%;
}

#testimonial-img-container img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 2;
}

#testimonial-img-blind {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 3;
    opacity: 0;
}

#testimonial-img-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: white;
}


#testimonial-content-container {
    width: calc(50%);
    color: white;
}

#testimonial-content-inner {
    transform: translateY(calc(-2 * var(--baseSize)));
    padding: calc(1 * var(--baseSize));
    width: 100%;
}

p#testimonial-quote {
    font-size: calc(3.25 * var(--baseSize));
    width: 100%;
    overflow: hidden;
    margin-bottom: calc(1.25 * var(--baseSize));
}

p#testimonial-quote.size-2 {
    font-size: calc(2.75 * var(--baseSize));
}

p#testimonial-quote.size-1 {
    font-size: calc(2.5 * var(--baseSize));
}

#testimonial-content-container p {
    line-height: 1.15 !important;
}

#testimonial-logo-container svg {
    position: absolute;
    top: calc(1 * var(--baseSize));
    right: calc(1 * var(--baseSize));
    width: calc(15 * var(--baseSize));
    height: auto;
    z-index: 4;
}

.testimonial-subtitle {
    font-size: calc(1.75 * var(--baseSize));
    margin-top: 0;
}

.testimonial-subtitle#testimonial-position {
    margin-top: calc(0.5 * var(--baseSize));
}

p.testimonial-slogan {
    font-size: calc(6 * var(--baseSize));
    font-weight: 900;
    line-height: 0.89;
    padding: calc(0.5 * var(--baseSize)) calc(0.5 * var(--baseSize)) calc(0.13 * var(--baseSize)) calc(0.5 * var(--baseSize));
    background-color: var(--secondary);
    color: var(--tertiary);
    width: fit-content;
    margin-top: calc(0.5 * var(--baseSize));
}

body.ds-5 p.testimonial-slogan {
    color: var(--primary);
}

#testimonial-slogan-container {
    position: absolute;
    bottom: calc(1 * var(--baseSize));
    left: calc(1 * var(--baseSize));
    z-index: 3;
}

#testimonial-logo-container svg #logo-sixteen path,
#testimonial-logo-container svg #logo-border path {
    fill: var(--secondary);
}

#testimonial-logo-container svg #logo-box {
    fill: var(--tertiary);
}

#testimonial-logo-container svg #logo-text path {
    fill: var(--primary);
}

#testimonial-change-ds::after {
    content: "\f2f9";
    font-family: FontAwesome;
    font-weight: 900;
    line-height: 0;
    margin-left: 0.5em;
    display: inline-block;
    transition: 0.125s ease transform;
}

#testimonial-loader-blind {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000000;
    background-color: #000000a2;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(2rem);
    opacity: 0;
    visibility: hidden;
    transition: 0.25s ease opacity, 0.25s ease visibility;
}

#testimonial-loader-blind.show {
    opacity: 1;
    visibility: visible;
}