body.ds-1 {
    --color60: #00A99E;
    --color30: #EF74A5;
    --color10: #FAE854;
}
body.ds-2 {
    --color60: #0062A6;
    --color30: #FFEE5D;
    --color10: #EC5135;
}
body.ds-3 {
    --color60: #00743A;
    --color30: #F07A9F;
    --color10: #FEE4C5;
}
body.ds-4 {
    --color60: #70161E;
    --color30: #FCDCDB;
    --color10: #E66E3A;
}
body.ds-5 {
    --color60: #F8B6B6;
    --color30: #FFC93F;
    --color10: #008EAC;
}

html {
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
}